astroid==1.5.3
backports.functools-lru-cache==1.4
certifi==2017.4.17
chardet==3.0.4
configparser==3.5.0
Django==1.11.2
enum34==1.1.6
flake8==3.3.0
idna==2.5
image==1.5.5
incremental==17.5.0
isort==4.2.15
lazy-object-proxy==1.3.1
mccabe==0.6.1
ncmbot==0.1.5
olefile==0.44
Pillow==4.1.1
powerline-status==2.6
pycodestyle==2.3.1
pycrypto==2.6.1
pyflakes==1.5.0
pylint==1.7.1
pytz==2017.2
requests==2.17.3
selenium==3.4.3
singledispatch==3.4.0.3
six==1.10.0
urllib3==1.21.1
web.py==0.38
wrapt==1.10.10
yapf==0.16.2
